<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>TemplateCam needs camera access to take photos using composition templates and professional presets.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>TemplateCam needs permission to save photos you take to your photo library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>TemplateCam needs permission to access your photo library to save the photos you capture.</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
